/* Main structure */

html, body {
	margin: 0 auto;
	height: 100%;
}

html {
	background-color: #041418;
}

#align {
	position: absolute;
	top: 50%;
	margin-top: -92px;
	width: 100%;
}

#bar {
	background-color: #799197;
	box-shadow: 0 20px 200px #000;
	height: 128px;
	text-align: center;
	overflow: hidden;
}

#meta {
	text-align: center;
	height: 58px;
	font-family: 'Russo One', sans-serif;
	text-shadow: 0 0 40px #000;
}

/* Content style */

a {
	text-decoration: none;
	color: #222;
	font-weight: bold;
}

a[href^="http"]:before {
	content: '\f08e';
	font-family: 'FontAwesome';
	padding: 0 3px 0 0;
	display: inline-block;
	font-size: 8px;
}

/* No symbols for contact links. */
td > a[href^="http"]:before {
	content: '';
}

article {
	transition: width 0.4s;
	background-color: #799197;
	position: relative;
	display: inline-block;
	width: 128px;
	height: 128px;
	padding: 0 8px;
	margin: 0 -2px;
}

article .bg {
	opacity: 0;
	z-index: -2; /* hover is -1 so it doesn't bother. */
	position: fixed;
	top: 0;
	left: 0;
	-webkit-transform: translateX(-50px);
	transform: translateX(-50px);
	width: 105%;
	height: 100%;
	transition: opacity 0.6s, -webkit-transform 1s;
	transition: opacity 0.6s, transform 1s;
	background-size: cover;
	background-repeat: no-repeat;
}

#about  .bg { background-image: url('../img/bg/helsinki.jpg'); }
#code   .bg { background-image: url('../img/bg/code.jpg'); }
#photos .bg { background-image: url('../img/bg/photos.jpg'); }
#misc   .bg { background-image: url('../img/bg/misc.jpg'); }

article img {
	transition: box-shadow 0.3s, left 0.3s linear;
	background-color: #597177;
	z-index: 1;
	position: absolute;
	border: 0;
	left: 8px;
}

article p {
	transition: opacity 0.4s;
	position: absolute;
	left: 138px;
	width: 548px;
	opacity: 0;
	text-align: left;
	font-family: 'Muli', sans-serif;
	font-size: 1.2em;
	margin: 0;
	padding: 6px 0 6px 18px;
	line-height: 1.5em;
	color: #3a3a3a;
	height: 116px;
	overflow: hidden;
	cursor: default;
}

article p:first-letter {
	font-family: 'Russo One', sans-serif;
	font-size: 1.6em;
	padding: 0 3px;
	color: #222;
}

table {
	transition: width 0.6s 0.3s ease-in;
	float: left;
	width: 128px;
	height: 128px;
	text-align: center;
	margin: 0 0 0 -8px;
	overflow: hidden;
}

table td a {
	display: block;
	width: 32px;
	height: 32px;
	margin-left: 6px;
	background-repeat: no-repeat;
}

header {
	margin-bottom: 20px;
	text-transform: uppercase;
	display: inline;
}

header h1 {
	color: #B2C3C7;
	display: inline;
	font-size: 2.2em;
	line-height: 1.8em;
	text-shadow: #000 0 2px 10px, #000 0 -2px 10px;
	letter-spacing: 2px;
}

footer {
	display: inline-block;
	color: #92a3a7;
	font-size: 0.8em;
	margin-left: 16px;
	text-shadow: #000 0 2px 10px, #000 0 -2px 10px;
}

footer a {
	color: #92a3a7;
}

article #fill {
	background-color: #799197;
	position: absolute;
	width: 696px;
	height: 128px;
}

/* Interactivity */

article a:hover .bg { opacity: 0.1; }

article:target a .bg,
#contact:target a .bg {
	opacity: 1;
	z-index: -1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

#contact:target table { width: 148px; }
#contact:target img   { left: -134px; }
article:target        { width: 686px; }
article:target p {
	opacity: 1;
	cursor: auto;
}
article:target img,
article img:hover { box-shadow: #233 0 0 26px 10px; }

a:hover { text-decoration: underline; }
header a:hover { text-decoration: none; }
footer a:hover { color: #56666a; }

/* Icon spritesheet */

#email{background-image:url('../img/icons.png');background-position:0 0;}
#steam{background-image:url('../img/icons.png');background-position:0 -31px;}
#irssi{background-image:url('../img/icons.png');background-position:0 -63px;}
#skype{background-image:url('../img/icons.png');background-position:0 -97px;}
#fb   {background-image:url('../img/icons.png');background-position:0 -129px;}
#reddt{background-image:url('../img/icons.png');background-position:0 -161px;}
#twttr{background-image:url('../img/icons.png');background-position:0 -193px;}
#googl{background-image:url('../img/icons.png');background-position:0 -225px;}
#gthub{background-image:url('../img/icons.png');background-position:0 -257px;}

/* Squeeze text on small displays */

@media (max-width: 1140px) {
	article:target { width: 570px; }
	article #fill { width: 570px; }
	article p {
		left: 135px;
		width: 435px;
		font-size: 17px;
		padding: 6px 0 4px 16px;
		line-height: 1.7em;
		letter-spacing: -1px;
	}
}
